{% extends 'default.html' %}



{% block sitename %}
Главная
{% endblock sitename %}

{% block navmenu %}
          <li class="dropdown"><a href="#"><span>Меню</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/content/posts/">Объявления</a></li>
              </ul>
          </li>
{% endblock navmenu %}

{% block main %}
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <a href="/content/posts/">Объявления</a>
  </div>


 {% endblock main %}

{% block footer %}
<a href="/content/posts/">Объявления</a>
{% endblock footer %}