{% extends 'default.html' %}

{% block sitename %}
{{ post.caption}}
{% endblock sitename %}

{% block head %}
<style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
</style>
{% endblock head %}

{% block navmenu %}
{% if is_author %}
{% else %}
<li><a href="/messages/create/?postid={{ post.id }}">Откликнуться!!</a></li>
{% endif %}
<li><a href="/logout/">Выйти</a></li>
<li><a href="/login/">Войти</a></li>
<li class="dropdown"><a href="#"><span>Меню</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
    <ul>
        <li><a href="/">Объявления</a></li>
        <li><a href="/messages/">Сообщения</a></li>
    </ul>
</li>
{% endblock navmenu %}


{% block main %}
<div class="container" data-aos="fade-up" data-aos-delay="100">
    <table>
        <tr>
            <td><h1 align="center"><b>{{ post.caption}}</b></h1></td>
        </tr>
        <tr>
            <td><p></p></td>
            <td><h3><i>{{ post.datetime}}</i></h3></td>
        </tr>
        <tr>
            <td><h3 align="justify "><i>{{ post.text}}</i></h3></td>
        </tr>

        <tr>
            <td>
                <hr>
            </td>
        </tr>

        {% if is_author %}
        {% for message in post.GetMessages %}
        <tr>
            <td>{{ message.datetime }}</td>
            <td>{{ message.sender }}</td>
        </tr>
        <tr>
            {% if message.accepted %}
            <td>{{ message.text }}</td>
            <td><h3>Принято</h3></td>
            {% else %}
            <td>{{ message.text }}</td>
            <td><a href="/accept?msgid={{ message.id }}&postid={{ post.id }}">Принять</a></td>
            {% endif %}
        </tr>
        <tr>
        </tr>
        {% endfor %}
        {% else %}
        <li><a href="/messages/create/?postid={{ post.id }}">Откликнуться!!</a></li>
        {% endif %}
    </table>
</div>
{% endblock main %}